<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>715945150436-anlb82gms6c113kvg5n6l2lm21mv1dqv.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.715945150436-anlb82gms6c113kvg5n6l2lm21mv1dqv</string>
	<key>API_KEY</key>
	<string>AIzaSyCN6FcdIBZbjtsl8ooeDLzFo5N005lkvVs</string>
	<key>GCM_SENDER_ID</key>
	<string>715945150436</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.cordova.plumb.demo</string>
	<key>PROJECT_ID</key>
	<string>fcm-test-6f6bd</string>
	<key>STORAGE_BUCKET</key>
	<string>fcm-test-6f6bd.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:715945150436:ios:699a5ff4b52c3129f1e9f1</string>
</dict>
</plist>
