<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>246046468736-ui9h80h649sn5sc4bpp5sbgjf240j1eq.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.246046468736-ui9h80h649sn5sc4bpp5sbgjf240j1eq</string>
	<key>API_KEY</key>
	<string>AIzaSyDwmoocvxcIOYbxxwCToxtdYOJhrwXCHrk</string>
	<key>GCM_SENDER_ID</key>
	<string>246046468736</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.cordova.plumb.demo</string>
	<key>PROJECT_ID</key>
	<string>plumb5mobile</string>
	<key>STORAGE_BUCKET</key>
	<string>plumb5mobile.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:246046468736:ios:ca969a961e24c989b25465</string>
</dict>
</plist>